<!DOCTYPE html>
<html>
<head>
<title>Kazam</title>
</head>
<body>
  <div>
    <h1 class ="Logo">Welcome to Kazam</h1>
    <div class = "signupHalf">
    <%if cookies[:user_id] == "0" %>
     <%=button_to "Sign Up", signup_path, :method => :get, class: 'f_submit' %>
        <br>
      <%=button_to "Login", login_path, :method => :get, class: 'f_submit' %>
      
    <%else %>
      <%=button_to "Sign Up", "/users/#{cookies[:user_id]}", :method => :get, class: 'f_submit' %>
      <br>
      <%=button_to "Login", "/users/#{cookies[:user_id]}", :method => :get, class: 'f_submit' %>
      <br>
      <% end %>
    </div>

  </div>

</body>
</html>
