<!DOCTYPE html>
<html>
<head>
<title>Kazam</title>
</head>
<body>
  <div>
    <h1 class ="Logo">Welcome to Kazam</h1>
    <div class = "signupHalf">
      <form class="portal_button_form" method="get" action="/signup">
        <input id="portal_buttons" type="submit" value="Sign Up">
      </form>
      <br>
      <form class="portal_button_form" method="get" action="/login">
        <input id="portal_buttons" type="submit" value="Login">
      </form>
    </div>

  </div>

</body>
</html>
