/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .allPages{
     background-color:rgb(255, 255, 255);
    
     border: 10px solid rgb(92, 226, 215);
 }
 .Logo{
     margin-left: 40.49%;
 }
 .loginAlignment{
    text-align: center;
    font-size: x-large;
 }
 .login_s_submit{
     width:100px;
     height: 100px;
 }
 .signupHalf {
     width: 100%
 }
 .portal_button_form{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
#portal_buttons{
    display: inline-block;
    width:200px;
    height:80px;
    color:rgb(255, 255, 255);
    background-color:rgb(92, 226, 215);
    font-size: large;
}
.sidebar{
    display: inline-block;
}
.main_page{
    display: inline-block;
    margin-left: 20%;
    
}
.postOne{
    display: inline-block;
    margin-left: 10px;

}
.postTwo{
    display: inline-block;
    margin-left: 40px;
}
.postThree{
    
    margin-left: 45%;
}
.postThree{
    
    margin-left: 45%;
}
.postFour{
    text-align: center;
}