/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .allPages{
     background-color:rgb(255, 255, 255);
     border: 10px solid rgb(92, 226, 215);
     animation: 2s ease-out 0s 1 slideInFromLeft;
 }
 .Logo{
     text-align: center;
     animation: 2s ease-out 0s 1 slideInFromLeft;
 }
 .loginAlignment{
    text-align: center;
    font-size: x-large;
 }
 .f_submit{
    width:100px;
    height: 50px;
    color:rgb(255, 255, 255);
    background-color:rgb(92, 226, 215);
    animation: 2s ease-in-out 0s 999 buttonColorChange;
 }

 .group_creation_button{
    width:175px;
    height: 30px;
    color:rgb(255, 255, 255);
    background-color:rgb(92, 226, 215);
    animation: 2s ease-in-out 0s 999 buttonColorChange;
 }
 .signupHalf {
     width: 100%;
     text-align:center 
 }
 .log_out{
     width: 60px;
     height: 20px;
     color:rgb(255, 255, 255);
     background-color:rgb(92, 226, 215);
     animation: 2s ease-in-out 0s 999 buttonColorChange;
 }  
 .portal_button_form{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
#portal_buttons{
    display: inline-block;
    width:200px;
    height:80px;
    color:rgb(255, 255, 255);
    background-color:rgb(92, 226, 215);
    font-size: large;
    animation: 2s ease-in-out 0s 999 buttonColorChange;
}
.sidebar{
    display: flex;
    display: inline-table;
}
.main_page{
    display: flex;
    display: inline-table;
    margin-left: 10%;
    
}
.feed_page{
    display: flex;
}
.postOne{
    display: inline-block;
    margin-left: 10px;

}
.postTwo{
    display: inline-block;
    margin-left: 40px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-150%);
        color: green;
    }
    50% {
        color: purple;
    }
    100% {
        transform: translateX(0);
        color: black;
    }
}

.group_show_page{
    display: flex;
    flex-flow: column;
    align-items: center;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes buttonColorChange {
    0% {
        background-color: lawngreen;
    }
    50% {
        background-color: purple;
    }
    100% {
        background-color: rgb(92, 226, 215);
    }
}
.profile{
    text-align: center;
}